.card{
    height:350px;
    width:100%;
    background-color:#ffffff;
    border-radius:20px;
}
.card img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0; 
}
.about-content{
    line-height: 2em;
    padding:15px;
}
.about-content h2
{
    color:#383737;
}
.about-content p{
    color:#656363;
}
.card:hover{
     transform: translateY(-4px);
     transition: all 0.3s ease-out; 
}